@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 130px;
    background-color: #8600C6;
    font-family: 'Tilt Neon', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

header > h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 500;
}