@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Nunito;
}

body {
  background-color: #f5f3f3;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #8600c6;
}

body::-webkit-scrollbar-thumb {
  background-color: #f4b706;
  border-radius: 20px;
  border: 3px solid #8600c6;
}

header {
  background-color: #8600c6;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  height: fit-content;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

header button {
  background-color: #f4b706;
  color: #fff;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#triangulo-para-baixo {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  margin-top: 5px;
  margin-left: 10px;
}

header button:hover {
  background-color: #d6a101;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

nav > ul > li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  background-color: #8600c6;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav > ul > li > img {
  padding-top: 5px;
  padding-left: 10px;
  width: 15px;
}

nav > ul > li > a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px;
}

nav > ul > li:hover {
  background-color: #7201a7;
  transform: scale(1.1);
  transition: 1s;
}

nav > ul > li:last-child {
  background-color: #f4b706;
}

nav > ul > li:last-child:hover {
  background-color: #d6a101;
}

#Banner1 {
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: #eaeaea;
  width: 70%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner > div {
  width: 50%;
  text-align: center;
}

.banner > div > div {
  background-color: #fff;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
}

.banner > div > div > h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  transform: rotate(-4.969deg);
  background-color: #f4b706;
  color: #8600c6;
  padding: 10px;
  border-radius: 10px;
}

.banner > div > div > h1 > img {
  width: 20px;
}

.banner > div > h2 {
  margin-bottom: 25px;
  margin-left: 80px;
  margin-right: 80px;
  color: #8600c6;
  font-weight: 500;
}

.banner > div > button {
  background-color: #8600c6;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner > div > button:hover {
  background-color: #7201a7;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

#img-banner1 {
  width: 80%;
  margin-top: 20px;
}

.services {
  width: 70%;
  margin: auto;
}

#services-card {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  animation: alternate;
  transition: 2s;
}

.card {
  justify-content: space-evenly;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  place-self: center;
  margin: 0.1rem;
  animation: alternate;
  transition: 0.4s;
  background-color: #eaeaea;
  color: #8600c6;
}

.card > p {
  width: 254px;
}

.card:hover {
  transition-delay: 1s;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.card span {
  background-color: #f4b706;
  margin-top: -45px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 95%;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.card span p {
  margin: auto;
}

.services-button {
  background-color: #8600c6;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.services-button > a {
  text-decoration: none;
  color: #fff;
}

.services-button:hover {
  background-color: #7201a7;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.comments > #div1 {
  color: #8600c6;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#div1 > img {
  padding-right: 10px;
}

.comments-conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 520px;
  width: 78%;
  margin: auto;
}

.comment {
  text-align: center;
  width: 320px;
  height: 90%;
  background-color: #8600c6;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.25),
    20px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.comment > img {
  background-color: #eaeaea;
  width: calc(50%);
  height: calc(30%);
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment h3 {
  margin-bottom: 20px;
}

.avaliacao {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.comment p {
  width: 285px;
  margin: auto;
}

.secao-roxa {
  margin-top: 100px;
  background-color: #8600c6;
  color: #fff;
  height: 70vh;
}

.secao-roxa > h2,
.secao-roxa > h3 {
  text-align: center;
  width: 700px;
  margin: auto;
}

.secao-roxa > h2 {
  padding: 20px;
}

#container-secao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  margin-left: 100px;
  margin-top: 50px;
}

#container-secao > div {
  display: flex;
  font-size: 20px;
}

#container-secao > div > img {
  padding-right: 20px;
  padding-bottom: 40px;
}

#container-img {
  width: 40%;
  float: right;
  margin-top: -250px;
}

#container2 {
  width: 98.7vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container2-img {
  margin-top: -70px;
  margin-left: -120px;
}

.banner2 {
  width: 800px;
  height: 350px;
  border-radius: 20px;
  background: #eaeaea;
  color: #8600c6;
  padding: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner2 > h2 {
  text-align: center;
  font-size: 25px;
  margin-top: -130px;
  margin-bottom: 20px;
}

.banner2 > p {
  width: 600px;
  font-size: 18px;
  margin: auto;
  text-align: justify;
}

.banner2 > button {
  text-align: center;
  background-color: #f4b706;
  color: #8600c6;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 35px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner2 > button:hover {
  background-color: #d6a101;
  color: #7201a7;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}

footer > section {
  background-color: #8600c6;
  padding: 20px;
  margin: 30px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

footer > section > h3 {
  margin-bottom: 10px;
}

footer > div {
  margin: 30px;
  color: #8600c6;
}

footer > div > ul {
  list-style: none;
  margin: 10px;
}

#section2 {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  color: #8600c6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#section2 > div {
  margin-left: 20px;
}

#section2 > div > img {
  margin-top: 20px;
}

#the-end {
  margin-top: 20px;
  background-color: #8600c6;
  color: #fff;
  text-align: center;
  padding: 20px;
}
