{% extends 'petconnect/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section id="Banner1">
    <div class="banner">
        <div>
            <div id="title"><h1>Em um só clique! <img src="{% static 'img/click.png' %}" alt=""></h1></div>
            <h2>Atendimento de <b>qualidade para o seu pet!</b></h2>
            <button>SAIBA MAIS</button>
        </div>
        <div><img src="{% static 'img/cachorro_gato.png' %}" alt="" id="img-banner1"></div>
    </div>
</section>

<section class="services">
    <div id="services-card">
        <section class="card" >
            <span>AGENDAMENTO</span>
            <p>Não há mais necessidade de esperar ao telefone, com apenas alguns cliques, você estará no caminho certo para oferecer ao seu pet o melhor atendimento.</p>
            <button class="services-button"><a href="#">Saiba Mais</a></button>
        </section>
        <section class="card">
            <span>PREÇOS E HORÁRIOS</span>
            <p>Encontre o atendimento que melhor se encaixa nas necessidades do seu pet, comparando preços e horários de funcionamento com facilidade.</p>
            <button class="services-button">Saiba Mais</button>
        </section>
        <section class="card">
            <span>AVALIAÇÕES</span>
            <p>Descubra os pet shops mais bem avaliados e saiba o que outros clientes têm a dizer sobre o atendimento e os serviços oferecidos.</p>
            <button class="services-button">Saiba Mais</button>
        </section>
    </div>
</section>

<section class="comments">
    <div id="div1">
        <img src="{% static 'img/coracao.png' %}" alt="">
        <h1>O QUE ESTÃO FALANDO SOBRE NÓS</h1>
    </div>

    <div class="comments-conteudo">
        <div class="comment">
            <img src="{% static 'img/unknown_user.png' %}" alt="">
            <h3>Nome Sobrenome</h3>
            <div class="avaliacao">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
            </div>
            <p>“O PetConnect tornou a busca por serviços para pets muito mais conveniente. Estou muito grato por essa plataforma.”</p>
        </div>
        <div class="comment">
            <img src="{% static 'img/unknown_user.png' %}" alt="">
            <h3>Nome Sobrenome</h3>
            <div class="avaliacao">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
            </div>
            <p>“Nossa experiência com o PetConnect tem sido incrível. Conseguimos agendar consultas rapidamente e com facilidade.”</p>
        </div>
        <div class="comment">
            <img src="{% static 'img/unknown_user.png' %}" alt="">
            <h3>Nome Sobrenome</h3>
            <div class="avaliacao">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
                <img src="{% static 'img/estrela.png' %}" alt="">
            </div>
            <p>“Adoro a ideia de apoiar negócios locais e o PetConnect tornou isso possível. Obrigado por conectar os amantes de pets!”</p>
        </div>
    </div>
</section>

<section class="secao-roxa">
    <h2>Colocando você no comando da saúde do seu pet</h2>
    <h3>Mantenha o registro médico do seu companheiro peludo acessível a qualquer momento, em qualquer lugar</h3>
    <div id="container-secao">
        <div>
            <img src="{% static 'img/check.png' %}" alt="">
            <p>Agendamento on-line</p>
        </div>
        <div>
            <img src="{% static 'img/check.png' %}" alt="">
            <p>Histórico de consultas</p>
        </div>
        <div>
            <img src="{% static 'img/check.png' %}" alt="">
            <p>Alertas sobre promoções</p>
        </div>
        <div>
            <img src="{% static 'img/check.png' %}" alt="">
            <p>Lembretes e mais</p>
        </div>
    </div>
    <div>
        <img src="{% static 'img/mao_celular.png' %}" alt="" id="container-img">
    </div>
</section>

<div id="container2">
    <section class="banner2">
        <img src="{% static 'img/banner.png' %}" alt="" id="container2-img">
        <h2>FAÇA PARTE DA NOSSA REDE CREDENCIADA</h2>
        <p>Tornar-se um petshop credenciado no PetConnect é uma oportunidade de conectar-se a um público amplo de amantes de animais de estimação e oferecer seus serviços de forma mais acessível e eficiente. Sua participação fortalece nossa missão de facilitar a busca por atendimento de qualidade para pets.</p>
        <button>SAIBA COMO</button>
    </section>
</div>
{% endblock %}