{% extends 'petconnect/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/perfil_usuario.css' %}">
{% endblock %}

{% block header %}
<header>
    <img src="{% static 'img/logo.png' %}" alt="">
    <button><a href="/index.html">SAIR</a></button>
</header>
{% endblock %}

{% block content %}
<aside>
    <div id="conteudo">
        <div class="circulo"></div>
        <h2>Nome Sobrenome</h2>

        <div id="botoes">
            <button><a href="{% url 'petconnect:index' %}">HOME</a></button>
            <button><a href="/src/editar-perfil-usuario.html">EDITAR PERFIL</a></button>
            <button><a href="/src/avaliacoes-usuario.html">AVALIAÇÕES</a></button>
            <button><a href="{% url 'petconnect:cadastro_animal' %}">ANIMAIS CADASTRADOS</a></button>
        </div>
    </div>
</aside>

<main>
    <div id="conteudo-principal">
        <button>Consultas Agendadas</button>
        <button>Consultas Anteriores</button>
        <button>Agendamentos Pendentes</button>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}