{% extends 'petconnect/perfil_petshop.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/perfil_petshop.css' %}">
<link rel="stylesheet" href="{% static 'css/avaliacoes.css' %}" />
{% endblock %}

{% block content_perfil %}
<section>
  <div class="consulta">
    <h4 class="agendamento-data">Data promoção: 20/10/2023</h4>
    <div class="info-consulta">
      <h5>Informações da promoção</h5>
      <p>Data Inicio: 22/10/2023</p>
      <p>Data Fim: 25/10/2023</p>
      <p>Tipo de serviço:</p>
      <p>Valor: 30%</p>
    </div>

    <button class="botao-card2">Excluir Promoção</button>
  </div>

  <div class="consulta">
    <h4 class="agendamento-data">Data promoção: 20/10/2023</h4>
    <div class="info-consulta">
      <h5>Informações da promoção</h5>
      <p>Data Inicio: 22/10/2023</p>
      <p>Data Fim: 25/10/2023</p>
      <p>Tipo de serviço:</p>
      <p>Valor: 30%</p>
    </div>

    <button class="botao-card2">Excluir Promoção</button>
  </div>

  <div class="consulta">
    <h4 class="agendamento-data">Data promoção: 20/10/2023</h4>
    <div class="info-consulta">
      <h5>Informações da promoção</h5>
      <p>Data Inicio: 22/10/2023</p>
      <p>Data Fim: 25/10/2023</p>
      <p>Tipo de serviço:</p>
      <p>Valor: 30%</p>
    </div>

    <button class="botao-card2">Excluir Promoção</button>
  </div>

  <div class="consulta">
    <h4 class="agendamento-data">Data promoção: 20/10/2023</h4>
    <div class="info-consulta">
      <h5>Informações da promoção</h5>
      <p>Data Inicio: 22/10/2023</p>
      <p>Data Fim: 25/10/2023</p>
      <p>Tipo de serviço:</p>
      <p>Valor: 30%</p>
    </div>

    <button class="botao-card2">Excluir Promoção</button>
  </div>
</section>
{% endblock %}